@charset "UTF8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-image: url(attack.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header {
    text-align: center;
    color: rgb(255, 254, 254);
    font-size: 40px;
    letter-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    background-color: #c1c2bcd4;
    display: flex;
    box-sizing: left;
}

main img {
    width: 500px;
    height: 315px;
    margin: 10px;
}

.img:hover {
    transform: scale(1.2)
}

.video:hover {
    transform: scale(1.2)
}


main p {
    margin: 10px;
}

.iframe {
    margin: 10px;
    background-color: #c1c2bcd4;
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
}

.container{
    padding: 2rem;
    border: 2px solid black;
    display: flex;
    margin: 1px;
}
.esquerda{
    float: right;
    background-color: #314a20;
    width: 500px;
    height: 500px;
    margin: 10px;
}

.direita{
    clear: none;
    background-color: #533618;
    width: 500px;
    height: 500px;
    margin: 10px;
}


img{
    width: 250px;
    height: 200px;
}



