.container {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 100px 100px 100px ; /*ou repeat(4, 1fr)*/
    grid-template-rows: 100px 100px; /*ou repeat(3, 1fr)*/
    column-gap: 10px ;
    row-gap: 10px;
   align-content: space-around;
}

.item-1 {

    border: 3px solid rgb(255, 117, 140);
}

.item-2 {

    border: 3px solid rgb(119, 255, 226);
}

.item-3 {

    border: 3px solid rgb(166, 78, 255);
}

.item-4 {

    border: 3px solid rgb(91, 255, 143);
}

.item-5 {

    border: 3px solid rgb(255, 213, 147);
}